
.Idiom_Button {
  position: fixed;
  top: 6vw;
  right: 1vw;
  height: 2.3vw;
  width: 7vw;
  font-size: 1.1vw;
  font-weight: bold;
  border: none;
  background-color: rgb(255 255 255 / 80%);
  color: rgb(0 0 0 / 80%);
  border-radius: 1vw;
  cursor: pointer;
}

.Idiom_Button:hover {
  transform: translateY(-3px) ;
  transition: cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
}

.Idiom_Button:active {
  transform: translateY(3px) ;
  transition: cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
}

@media screen and (max-width: 500px) {
  .Idiom_Button {
    top: 15vw;
    right: 1vw;
    height: 5vw;
    width: 13vw;
    font-size: 2.2vw;
    font-weight: bold;
  }
}