

.container_colors {
  position: absolute;
  top: -200%;
  left: 15%;
  padding: 1vw;
  // background: var(--right-panel);
  border-radius: 5px;
  overflow: hidden;
  z-index: 20;

  visibility: hidden;
  opacity: 0;
  transform: translateX(70%);

  display: grid;
  grid-template-columns: repeat(3, 2vw);
  grid-template-rows: repeat(3, 2vw);
  grid-column-gap: 1.2vw;
  grid-row-gap: 2.5vw;
  background: var(--right-panel);
  box-shadow: 0 0 4vw 0 var(--first-gradient-color) inset;

  transition: 
    transform 500ms ease-in-out, 
    opacity 200ms ease-in-out, 
    visibility 200ms ease-in-out;
}


.menu_container:first-child:focus-within .container_colors,
.container_colors:hover,
.container_colors:focus {
  transform: translateY(80%);
  visibility: visible;
  opacity: 1;
}

.single_color {
  height: 100%; 
  width: 100%;
  border-radius: 50%;
  background: blue;
}


.single_color:nth-child(1) {
  background: linear-gradient(90deg, hsl(191, 100%, 50%),hsl(250, 15%, 61%));
}

.single_color:nth-child(2) {
  background: linear-gradient(90deg, hsl(120, 58%, 31%), hsl(86, 81%, 35%))
}

.single_color:nth-child(3) {
  background: linear-gradient(90deg, hsl(327, 100%, 41%), rgb(109, 44, 106))
}

.single_color:nth-child(4) {
  background-image: linear-gradient( hsl(241, 70%, 75%), hsl(0, 72%, 86%) );
  // background: linear-gradient(90deg, hsl(267, 100%, 70%), hsl(210, 89%, 71%))
}

.single_color:nth-child(5) {
  background: linear-gradient(90deg, hsl(301, 100%, 34%), hsl(212, 72%, 21%))
}

.single_color:nth-child(6) {
  background: linear-gradient(90deg, hsl(33, 100%, 50%), hsl(13, 100%, 49%))
}

.single_color:nth-child(7) {
  background: linear-gradient(90deg, hsl(262, 97%, 54%), hsl(282, 68%, 38%))
}

.single_color:nth-child(8) {
  background-image: linear-gradient( hsl(302, 58%, 36%), hsl(302, 60%, 80%) );
}

.single_color:nth-child(9) {
  background-image: linear-gradient( hsl(42, 95%, 49%), hsl(66, 96%, 55%) );
}


.container_colors .color_active {
  box-shadow:
    0 0 0 2px var(--right-panel),
    0 0 0 4px var(--first-gradient-color);
}

@media screen and (max-width: 500px) {
  .container_colors {
    padding: 5vw 3vw;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
    grid-column-gap: 5vw;
    grid-row-gap: 7vw;
    box-shadow: 0 0 17vw 0 var(--first-gradient-color) inset;
  }
}