


.single_image_container:nth-child(2n -1 ) {
  transform-origin: 0% 100%;
}

.single_image_container:nth-child(2n) {
  transform-origin: 100% 0%;
}

.single_image_container:nth-child(12) {
  border-radius: 0 0 $border 0;
}

.single_image_container:nth-child(1) {
  border-radius: 0 0 0 $border ;
}


.single_image_container {
  position: relative;
  background: blue;
}

.single_image_container::before {
  position: absolute;
  content: "";
  top: 0;
  height: #{$card / 2};
  width: 0;
  
  z-index: 5;

  transition: width 200ms ease-in-out
}

.single_image_container:nth-child(2n )::before {
  background-image: linear-gradient(90deg, transparent, #0007);
  right: 0;
}

.single_image_container:nth-child(2n -1)::before {
  background-image: linear-gradient(90deg, #0007, transparent);
  left: 0;
}

.container_project_card:hover .single_image_container::before {
  width: #{$card / 20};
}


// Left part of the Accordion

.container_project_card:hover .single_image_container:nth-child(1) {
  transform: rotateY(-65deg);
}

.container_project_card:hover .single_image_container:nth-child(2) {
  transform: translateX(#{$card * 2 / 20.3 * -1}) rotateY(65deg);
}

.container_project_card:hover .single_image_container:nth-child(3) {
  transform: translateX(#{$card / 10.2 * -1})  rotateY(-65deg);
}

.container_project_card:hover .single_image_container:nth-child(4) {
  transform: translateX(#{$card / 5.1 * -1}) rotateY(65deg);
}

.container_project_card:hover .single_image_container:nth-child(5) {
  transform: translateX(#{$card * 2 / 10.1 * -1})  rotateY(-65deg);
}

.container_project_card:hover .single_image_container:nth-child(6) {
  transform: translateX(#{$card / 3.4 * -1}) rotateY(65deg);
}







// Right part of the Accordion

.container_project_card:hover .single_image_container:nth-child(7) {
  transform: translateX(#{$card * 2 / 6.7}) rotateY(-65deg);
}

.container_project_card:hover .single_image_container:nth-child(8) {
  transform: translateX(#{$card * 2 / 10.1}) rotateY(65deg);
}

.container_project_card:hover .single_image_container:nth-child(9) {
  transform: translateX(#{$card * 2 / 10.1}) rotateY(-65deg);
}

.container_project_card:hover .single_image_container:nth-child(10) {
  transform: translateX(#{$card / 10}) rotateY(65deg);
}

.container_project_card:hover .single_image_container:nth-child(11) {
  transform: translateX(#{$card / 10}) rotateY(-65deg);
}

.container_project_card:hover .single_image_container:nth-child(12) {
  transform: translateX(#{$card / 250}) rotateY(65deg);
}

@media screen and (max-width: 500px) {
  $card:  81vw ;

  .single_image_container:nth-child(2n -1 ) {
    transform-origin: 0% 100%;
  }

  .single_image_container:nth-child(2n) {
    transform-origin: 100% 0%;
  }

  .single_image_container:nth-child(12) {
    border-radius: 0 0 $border 0;
  }

  .single_image_container:nth-child(1) {
    border-radius: 0 0 0 $border ;
  }


  .single_image_container {
    position: relative;
    background: blue;
  }

  .single_image_container::before {
    position: absolute;
    content: "";
    top: 0;
    height: #{$card / 2};
    width: 0;
    
    z-index: 5;
  
    transition: width 200ms ease-in-out
  }

  .single_image_container:nth-child(2n )::before {
    background-image: linear-gradient(90deg, transparent, #0007);
    right: 0;
  }

  .single_image_container:nth-child(2n -1)::before {
    background-image: linear-gradient(90deg, #0007, transparent);
    left: 0;
  }

  .container_project_card:hover .single_image_container::before {
    width: #{$card / 20};
  }


// Left part of the Accordion

  .container_project_card:hover .single_image_container:nth-child(1) {
    transform: rotateY(-65deg);
  }

  .container_project_card:hover .single_image_container:nth-child(2) {
    transform: translateX(#{$card * 2 / 20.3 * -1}) rotateY(65deg);
  }

  .container_project_card:hover .single_image_container:nth-child(3) {
    transform: translateX(#{$card / 10.2 * -1})  rotateY(-65deg);
  }

  .container_project_card:hover .single_image_container:nth-child(4) {
    transform: translateX(#{$card / 5.1 * -1}) rotateY(65deg);
  }

  .container_project_card:hover .single_image_container:nth-child(5) {
    transform: translateX(#{$card * 2 / 10.1 * -1})  rotateY(-65deg);
  }

  .container_project_card:hover .single_image_container:nth-child(6) {
    transform: translateX(#{$card / 3.4 * -1}) rotateY(65deg);
  }







// Right part of the Accordion

  .container_project_card:hover .single_image_container:nth-child(7) {
    transform: translateX(#{$card * 2 / 6.7}) rotateY(-65deg);
  }

  .container_project_card:hover .single_image_container:nth-child(8) {
    transform: translateX(#{$card * 2 / 10}) rotateY(65deg);
  }

  .container_project_card:hover .single_image_container:nth-child(9) {
    transform: translateX(#{$card * 2 / 10.1}) rotateY(-65deg);
  }

  .container_project_card:hover .single_image_container:nth-child(10) {
    transform: translateX(#{$card / 10}) rotateY(65deg);
  }

  .container_project_card:hover .single_image_container:nth-child(11) {
    transform: translateX(#{$card * 2 / 20}) rotateY(-65deg);
  }

  .container_project_card:hover .single_image_container:nth-child(12) {
    transform: translateX(#{$card / 250}) rotateY(65deg);
  }
}