.title {
  font-size: 1.8vw;
}

.apps_infomation {
  font-size: 1.3vw;
}

.icon_mobile {
  height: 0;
  width: 0;
}

/* ///////// */

.container_portfolio {
  position: absolute;
  top: 10vh;
  min-height: 100vh;
  display: grid;
  width: 98vw;
  color: rgb(0 0 0 );
  /* background-imDayNightage: linear-gradient(to top , #83a4d4, #b6fbff); */
  background-image: transparent;
  justify-content: center;
}

.container_portfolio_night {
  color: rgb(255 255 255 / 80%);
}

.About {
  min-height: 42vw;
  width: 100vw;
  display: flex;
  background-color: transparent;
  margin-bottom: 5vw;
}

.cont_image {
  position: relative;
  height: 40vw;
  width: 50vw;
}

.My_Image {
  position: absolute;
  top: 2vw;
  left: 13vw;
  height: 25vw;
  width: 25vw;
  border-radius: 12.5vw;
}

.My_Profile_title {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 5vw;
  left: 1vw;
  height: 5vw;
  width: 49vw;
  font-size: 3vw;
  color: rgb(5, 1, 36);
}

.cv_link {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3vw;
  width: 50vw;
  text-decoration: none;
  font-size: 2vw;
  font-weight: bold;
  color: rgb(5, 1, 36);
}

.cv_link:hover {
  transform: translateY(-3px);
  transition: cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
}

.cv_link:active {
  transform: translateY(3px);
  transition: cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
}

.cont_information {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  min-height: 40vw;
  width: 50vw;
}

.About_title {
  font-size: 2.5vw;
  color: rgb(5, 1, 36);
}

.Infomation {
  font-size: 1.7vw;
}

.Projects_title {
  display: flex;
  height: 5vw;
  font-size: 5vw;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 100vw;
  margin-bottom: 5vw;
  color: rgb(5, 1, 36);
  justify-content: center;
  align-items: center;
  background-color:transparent;
}

.Projects {
  display: grid;
  grid-template-columns: repeat(2, 50vw);
  justify-content: center;
  min-height: 50vw;
  width: 100vw;
  margin: 0;
  background-color: transparent;
}


.single_project {
  position: relative;
  height: 50vw;
  width: 40vw;
  padding: 5vw;
}

.cont_Apps {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  bottom: 3vw;
  height: 20vw;
  width: 40vw;
  border-radius: 1vw;
  background-color: transparent;
}

/* .cont_Apps_night {
  box-shadow: 5px 10px 15px 5px rgb(255 255 255 / 30%);
} */

.apps_image {
  position: absolute;
  top: 1.5vw;
  left: 1.5vw;
  height: 17vw;
  width: 37vw;
  border-radius: 1vw;
  cursor: pointer;
}

.Apps_images_buttons {
  position: absolute;
  color: rgb(0 100 255 / 70%);
  top: 9vw;
  height: 2vw;
  width: 2vw;
  transition: cubic-bezier(0.215, 0.610, 0.355, 1) 2s;
}

.right {
  right: 2vw;
}

.right:active {
  transform: translateX(1vw);
  transition: cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
}

.left {
  left: 2vw;
}

.left:active {
  transform: translateX(-1vw);
  transition: cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
}

.next_page {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 2vw;
  left: 10vw;
  height: 12vw;
  width: 20vw;
  border-radius: 1vw;
  background-color: rgb(255 255 255 / 70%);
  backdrop-filter: blur(5px);
  visibility: visible;
  opacity: 1;
  transition: cubic-bezier(0.215, 0.610, 0.355, 1) 1s;
}

.next_page_block {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -5vw;
  left: 10vw;
  height: 12vw;
  width: 20vw;
  border-radius: 1vw;
  background-color: rgb(255 255 255 / 70%);
  backdrop-filter: blur(5px);
  visibility: hidden;
  opacity: 0;
  transition: cubic-bezier(0.215, 0.610, 0.355, 1) 1s;
}

.page {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 9vw;
  width: 7vw;
  margin: 1vw;
}

.git_and_deploy_link {
  height: 1.8vw;
  width: 6vw;
  font-size: 1vw;
  font-weight: bold;
  border: none;
  text-decoration: none;
  background-color: rgb(255 255 255 / 90%);
  border-radius: 0.7vw;
}

.next_page_img {
  height: 4vw;
  width: 6vw;
  border-radius: 0.5vw;
}

.Tecnologies {
  display: grid;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vw;
  height: 40vw;
  width: 100vw;
}

.tecnologies_title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 3vw;
  width: 90vw;
  font-size: 4vw;
  color: rgb(5, 1, 36);
}

.container_logos_tecnologies {
  display: flex;
  min-height: 20vw;
  width: 85vw;
  padding: 2.5vw;
  border-radius: 2vw;
  flex-wrap: wrap;
  justify-content: center;
}

.container_single_icon {
  display: grid;
  justify-content: center;
  height: 7vw;
  width: 10vw;
  padding: 1px;
  margin: 1vw;
}

.title_icon {
  font-size: 1.7vw;
  color: rgb(5, 1, 36);
  padding: 0;
  margin: 0;
}

.javascript_icon {
  height: 4vw;
  width: 4vw;
  color: rgb(181, 184, 9);
  margin: 0 auto;
}

.node_icon {
  height: 4.5vw;
  width: 4.5vw;
  margin: 0 auto;
  color: rgb(6, 160, 13);
}

.react_icon {
  height: 4.2vw;
  width: 4.2vw;
  margin: 0 auto;
  color: rgb(6, 94, 177);
}

.redux_icon {
  height: 3.8vw;
  width: 3.8vw;
  margin: 0 auto;
  color: rgb(116, 7, 143);
}

.html_icon {
  height: 3.8vw;
  width: 3.8vw;
  margin: 0 auto;
  color: rgb(168, 20, 9);
}

.css_icon {
  height: 3.8vw;
  width: 3.8vw;
  margin: 0 auto;
  color: rgb(8, 43, 197);
}

.express_icon {
  height: 3.8vw;
  width: 3.8vw;
  margin: 0 auto;
  color: rgb(2, 5, 17);
}

.sequelize_icon {
  height: 3.8vw;
  width: 3.8vw;
  margin: 0 auto;
  color: rgb(8, 43, 197);
}

.postgres_icon {
  height: 3.8vw;
  width: 3.8vw;
  margin: 0 auto;
  color: rgb(7, 94, 165);
}

.scrum_icon {
  height: 5vw;
  width: 5vw;
  margin: 0 auto;
  color: rgb(19, 15, 211);
}
/* ///////// */
.contact {
  display: inline;
  justify-content: center;
  min-height: 20vw;
  width: 100vw;
  margin-bottom: 2vw;
}

.contact_title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 5vw;
  width: 100vw;
  font-size: 4vw;
  color: rgb(5, 1, 36);
}

.container_logos {
  height: 8vw;
  width: 80vw;
  padding: 2vw 10vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact_logos {
  height: 7vw;
  width: 7vw;
  margin: 0 3vw;
  color: rgb(5, 1, 36)
}
@media screen and (max-width: 500px) {
  .About {
    display:  grid;
  }
  
  .cont_image {
    position: relative;
    padding: 0;
    height: 60vw;
    width: 100vw;
  }
  
  .My_Image {
    position: absolute;
    top: 0;
    left: 30vw;
    height: 40vw;
    width: 40vw;
    border-radius: 20vw;
  }

  .My_Profile_title {
    height: 10vw;
    width: 100vw;
    font-size: 5vw;
  }

  .cv_link {
    height: 8vw;
    width: 100vw;
    font-size: 4vw;
  }

  .cv_link:hover {
    transform: none;
    transition: none;
  }
  
  .cont_information {
    min-height: 40vw;
    margin: 0 auto;
    width: 90vw;
    padding: 2.5vw;
  }

  .About_title {
    font-size: 5vw;
  }

  .Infomation {
    font-size: 3vw;
  }

  .Projects_title {
    height: 8vw;
    font-size: 7vw;
  }

  .Projects {
    grid-template-columns: none;
  }

  .single_project {
    display: inline;
    justify-content: center;
    position: relative;
    min-height: 125vw;
    width: 90vw;
    padding: 5vw;
  } 
  
  .title {
    font-size: 7vw;
  }
  
  .apps_infomation {
    font-size: 3vw;
  }
  
  .cont_Apps {
    bottom: 3vw;
    height: 50vw;
    width: 90vw;
    border-radius: 1vw;
  }

  .apps_image {
    top: 4vw;
    left: 4vw;
    height: 42vw;
    width: 82vw;
    border-radius: 2vw;
  }

  .Apps_images_buttons {
    top: 21.5vw;
    height: 7vw;
    width: 7vw;
  }

  .right {
    right: 3vw;
  }

  .right:active {
    transform: translateX(2vw);
    transition: cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
  }
  
  .left {
    left: 3vw;
  }

  .left:active {
    transform: translateX(-2vw);
    transition: cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
  }

  .next_page {
    top: 7vw;
    left: 20vw;
    height: 30vw;
    width: 50vw;
    border-radius: 2vw;
  }

  .next_page_block {
    top: -7vw;
    left: 20vw;
    height: 30vw;
    width: 50vw;
    border-radius: 2vw;
  }

  .page {
    background-color: rgb(0 0 0 / 40%);
    height: 23vw;
    width: 20vw;
  }

  .git_and_deploy_link {
    height:4vw;
    width: 18vw;
    font-size: 2.5vw;
  }

  .next_page_img {
    height: 13vw;
    width: 18vw;
    border-radius: 0.8vw;
  }

  .Tecnologies {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vw;
    min-height: 90vw;
    width: 100vw;
  }
  
  .tecnologies_title {
    height: 7vw;
    width: 90vw;
    font-size: 6vw;
  }
  
  .container_single_icon {
    display: grid;
    justify-content: center;
    height: 15vw;
    width: 20vw;
  }

  .title_icon {
    font-size: 2.7vw;
  }

  .icon_mobile {
    height: 8vw;
    width: 8vw;
  }

  .contact {
    min-height: 30vw;
  }

  .contact_title {
    font-size: 7vw;
    padding-bottom: 3vw;
  }

  .contact_logos {
    height: 15vw;
    width: 15vw;
    margin: 0 3vw;
    color: rgb(5, 1, 36)
  }
}