.main_container {
  height: 100vh;
  width: 100vw;
  padding: 1% 5%;
  display: grid;
  grid-gap: 2.5%;
  background-color: transparent;
  background-attachment: fixed;
  grid-template-areas:
    "left-panel right-panel"
   ;
  grid-template-columns: 25% 72%;
  grid-template-rows: 100%;
}

.left_panel {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 1vw;
  background-image: linear-gradient( 70deg , #00d2ff, 40%, #928DAB );
  grid-area: left-panel;

  
  .picture {
    position: absolute;
    top: 2vw;
    left: 0;
    right: 0;
    margin: auto;
    height: 15vw;
    width: 15vw;
    border-radius: 50%;
  }

  .personal_information {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    height: 60%;
    padding: 20px;
    width: 100%;
    align-self: flex-end;
    flex-direction: column;

    .resume {
      position: absolute;
      display: flex;
      gap: 5%;
      padding: 2.5%;
      top: 20vw;
      left: 0;
      width: 100%;
      height: 4vw;
       
      
          .cv_button {
            height: 100%;
            width: 50%;
            border: none;
            background: #ccc;
            border-radius: 10px;
            font-weight: 700;
            font-size: 1vw;
            cursor: pointer;
          }
      
          .cv_button:hover,
          .cv_button:focus {
            box-shadow: 3px 3px 10px 0 #000;
          }
      
          .cv_button_options {
            position: absolute;
            
            gap: 20%;
            padding: 5%;
            height: 10vw;
            width: 18vw;
            background: #fff3;
            backdrop-filter: blur(5px);
            top: -400%;
            left: 0;
            right: 0;
            margin: auto;
            border-radius: 10px;
            transition: ease 300ms;
            visibility: hidden;
            opacity: 0;

            a {
              display: flex;
              align-items: center;
              justify-content: center;
            }

            .download_CV {
              height: 50px;
              width: 50px;
            }
    
            .CV_image {
              display: flex;
              height: 100%;
              width: 35%;
              transition: transform ease 700ms;
              z-index: 1000;
              transform-style: preserve-3d;
            }

            .cv_button_options:focus {
              background: red;
            }
          }

          .b_sp:focus + .sp {
            top: -250%;
            visibility: visible;
            opacity: 1;
          }
      
          .b_en:focus + .en {
            top: -250%;
            visibility: visible;
            opacity: 1;
          }

          .sp:hover .CV_image,
          .sp:focus .CV_image {
            transform: 
              translateZ(10px) 
              scale(5) 
              translateX(-5%) 
              translateY(20%)
              ;
          }

          .en:hover .CV_image,
          .en:focus .CV_image{
            transform: 
              translateZ(10px) 
              scale(5) 
              translateX(-5%) 
              translateY(20%)
              ;
          }
    }

    .information_rows {
      display: flex;
      align-items: center;
      width: 100%;
      gap: 10px;
      cursor: pointer;

      .personal_icons {
        height: 1.7vw;
        width: 1.7vw;
        color: #fff;
      }

      .web_icons {
        height: 2vw;
        width: 2vw;
        transform: translateX(-.4vh);
      }

      .icons_name {
        color: white;
        font-weight: 500;
        font-size: 1.3vw;
      }

      .torre {
        clip-path: polygon(50% 0, 93% 24%, 93% 77%, 50% 100%, 6% 77%, 6% 24%);
      }
    }
  }
}

.right_panel {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 2%;
  overflow: hidden;
  scroll-behavior: smooth;
  transform-style: preserve-3d;
  border-radius: 1vw;
  background: rgba(204, 204, 204, 0.33);
  grid-area: right-panel;
}

.right_panel_black {
  background: rgb(32, 32, 32);
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}












@media screen and (max-width: 500px) {

  .main_container {
    padding-top: 4%;
    padding-bottom: 14%;
    grid-template-areas:
      "left-panel"
      "right-panel"
     ;
     grid-template-columns: 100%;
     grid-template-rows: 45% 105%;
  }

  .left_panel {
    gap: 5%; 
    padding: 0 5%;

    .picture {
      position: relative;
      height: 55%;
      width: 55%;
      margin: 17% auto;
    }

    .personal_information {

      height: 100%;

      .resume {
        top: 80%;
        width: 55%;
        height: 15%;
        transform-style: preserve-3d;

        .cv_button {
          font-size: 2vw;
        }

        .cv_button_options {
          height: 25vw;
          width: 45vw;
          top: -40vw;
          justify-content: center; 
          padding: 5% 10%;
          gap: 10%;

          .download_CV {
            height: 10vw;
            width: 10vw;
          }
        }

          .sp:hover .CV_image,
          .sp:focus .CV_image {
            transform: 
              scale(4) 
              translateX(25%) 
              translateY(-1.5vw)
              ;
          }

          .en:hover .CV_image,
          .en:focus .CV_image{
            transform: 
              scale(4) 
              translateX(25%) 
              translateY(-1.5vw)
              ;
          }
      }

      .information_rows {
        transform: translate(-3vh);
        
        .personal_icons {
          height: 5vw;
          width: 5vw;
        }

        .web_icons {
          height: 6vw;
          width: 6vw;
        }

        .icons_name {
          font-size: 2.3vw;
        }
      }
    }
  }

  a {
    margin: 0;
    padding: 0;
  }
}