
@media screen and (max-width: 500px) {

  .main_container {
    padding-top: 4%;
    padding-bottom: 14%;
    grid-template-areas:
      "left-panel"
      "right-panel"
     ;
     grid-template-columns: 100%;
     grid-template-rows: 45% 102%;
  }

  .left_panel {
    gap: 5%; 
    padding: 0 5%;

    .picture {
      position: relative;
      height: 55%;
      width: 55%;
      margin: 17% auto;
    }

  }
}