
.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5%;
  padding: 0 5%;
  height: 10%;
  min-width: 100%;
  margin-top: 0;


  .navbar_titles {
    display: flex;
    place-items: center;
    height: 2.5vw;
    margin: 0;
    width: 8vw;
    padding: 2px;
    border-radius: .5vw;
    background-image: linear-gradient( 70deg , #00d2ff, 40%, #928DAB );
    --button-color: rgb(238, 233, 233);
    
    .titles {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border: none;
      font-size: 1.3vw;
      height: 100%;
      width: 100%;
      margin: 0;
      border-radius: .5vw;
      font-weight: 500;
      background: var(--button-color);
      transition: background-image ease 300ms;
    }

    .background_color {
      background-image: linear-gradient( 70deg , #00d2ff, 40%, #928DAB );
    }
  }
}

.full_name {
  position: absolute;
  left: 2vw;
  justify-self: flex-end;
  font-size: 4vw;
  font-family: 'Tangerine', cursive;
  font-weight: 600;
  background-image: linear-gradient( 70deg , #24C6DC, 40%, #514A9D );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container_information {
  --translate: -0%;
  display: grid;
  grid-template-areas:
    "information projects";
  grid-template-columns: 100%  100%;
  grid-template-rows: 130%;
  grid-gap: 5%;
  margin-top: 3%;
  padding-bottom: 10%;
  height: 80%;
  width: 100%;
  transform: translateX(var(--translate));
  transition: 
    transform ease-out 500ms, 
    height ease 300ms;


  .information {
    grid-area: information;
    overflow-y: auto;
  }

  .information::-webkit-scrollbar {
    width: 7px;
  }

  .about {
    grid-area: about;

    position: relative;
    padding: 0 2.5%;
    height: 18vh;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    border-inline-start: 3px solid;
    border-inline-end: 3px solid;
    border-image-source: 
      linear-gradient( #00d2ff, 50%, #928DAB );
    border-image-slice: 1;
    transition: 
      height ease 300ms;
  }
  
  .go_down {
    --rotate-arrow: 0deg;
    display: flex;
    align-items: center;
    justify-content: center;
    translate: -1vw;
    background-image: linear-gradient(#00d2ff, 50%, #928DAB );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 5vh;
    margin:  0 auto;
    border: none;
    font-size: 70px;
    transition: transform ease 500ms;
    rotate: 270deg;
    transform: rotateY(var(--rotate-arrow)) ;
    cursor: pointer;
  }

  .about_extended {
    height: 50vh;
  }

  .about_description {
    font-size: 1.1em;
  }

  .technologies {
    grid-area: technologies;

    position: relative;
    margin-top: 30px;
    display: grid;
    height: 95vh;
    grid-template-areas: 
      "Title      Title"
      "frontEnd   backEnd"
      "JavaScript ExpressJS"
      "TypeScript Git"
      "ReactJS    GitHub"
      "ReduxJS    NodeJS"
      "CSS        PostgreSQL"
      "HTML       Scrum"
      "......     Sequelize";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-gap: 3.3%;
    // background: red;

    .technology_title {
      grid-area: Title;
      margin: 0;
      height: 100%; 
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      justify-self: center;
      font-size: 250%;
    }

    .frontend_titles {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      font-size: 2vw;
      grid-area: frontEnd;
    }

    .backend_titles {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      font-size: 2vw;
      grid-area: backEnd;
    }

    .tech_rows {
      display: flex;
      align-items: center;
      gap: 5%;
      width: 100%;

      .img_icons {
        height: 40px;
        width: 40px;
      }
      
    }
  }

  .container_projects {
    height:100%;
    width: 100%;
    grid-area: projects;
  }
}

.container_information {

  .technologies > :nth-child(1) {
    position: relative;
    --timing: ease;
    --width: 70%;
    grid-area: JavaScript;
  }

  .technologies > :nth-child(1) .tech_panel::after {
    content: "JavaScript";
    position: absolute;
    top: 150%;
    height: 200%;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .technologies > :nth-child(2) {
    --timing: ease-in;
    --width: 50%;
    grid-area: TypeScript;
  }
  
  .technologies > :nth-child(2) .tech_panel::after {
    content: "TypeScript";
    position: absolute;
    top: 150%;
    height: 200%;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .technologies > :nth-child(3) {
    --timing: ease-out;
    --width: 70%;
    grid-area: ReactJS;
  }
   
  .technologies > :nth-child(3) .tech_panel::after {
    content: "ReactJS";
    position: absolute;
    top: 150%;
    height: 200%;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .technologies > :nth-child(4) {
    --timing: ease;
    --width: 70%;
    grid-area: ReduxJS;
  }
     
  .technologies > :nth-child(4) .tech_panel::after {
    content: "ReduxJS";
    position: absolute;
    top: 150%;
    height: 200%;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .technologies > :nth-child(5) {
    --timing: ease-in-out;
    --width: 70%;
    grid-area: CSS;
  }
      
  .technologies > :nth-child(5) .tech_panel::after {
    content: "CSS";
    position: absolute;
    top: 150%;
    height: 200%;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .technologies > :nth-child(6) {
    --timing: ease-out;
    --width: 70%;
    grid-area: HTML;
  }
        
  .technologies > :nth-child(6) .tech_panel::after {
    content: "HTML";
    position: absolute;
    top: 150%;
    height: 200%;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .technologies > :nth-child(7) {
    --timing: ease-in;
    --width: 70%;
    grid-area: ExpressJS;
  }
          
  .technologies > :nth-child(7) .tech_panel::after {
    content: "EXpressJS";
    position: absolute;
    top: 150%;
    height: 200%;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .technologies > :nth-child(8) {
    --timing: ease;
    --width: 70%;
    grid-area: Git;
  }
            
  .technologies > :nth-child(8) .tech_panel::after {
    content: "Git";
    position: absolute;
    top: 150%;
    height: 200%;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .technologies > :nth-child(9) {
    --timing: ease-out;
    --width: 70%;
    grid-area: GitHub;
  }
              
  .technologies > :nth-child(9) .tech_panel::after {
    content: "GitHub";
    position: absolute;
    top: 150%;
    height: 200%;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .technologies > :nth-child(10) {
    --timing: ease-in-out;
    --width: 50%;
    grid-area: NodeJS;
  }
                
  .technologies > :nth-child(10) .tech_panel::after {
    content: "NodeJS";
    position: absolute;
    top: 150%;
    height: 200%;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .technologies > :nth-child(11) {
    --timing: ease;
    --width: 50%;
    grid-area: PostgreSQL;
  }
                  
  .technologies > :nth-child(11) .tech_panel::after {
    content: "PostgreSQL";
    position: absolute;
    top: 150%;
    height: 200%;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .technologies > :nth-child(12) {
    --timing: ease-in;
    --width: 50%;
    grid-area: Scrum;
  }
                    
  .technologies > :nth-child(12) .tech_panel::after {
    content: "Scrum";
    position: absolute;
    top: 150%;
    height: 200%;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .technologies > :nth-child(13) {
    --timing: ease-in;
    --width: 50%;
    grid-area: Sequelize;
  }
                    
  .technologies > :nth-child(13) .tech_panel::after {
    content: "Sequelize";
    position: absolute;
    top: 150%;
    height: 200%;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.tech_panel {
  position: relative;
  height: 22%;
  width: 80%;
  background: #ccc;
  border-radius: 15px;
}

.active {

  .persantage {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 10px;
    border-radius: 20px;
    background: rgb(49, 173, 214);
    transform-origin: 0% 50%;
    animation: scaleX 700ms var(--timing) forwards 300ms;
  }
  
  .tech_panel:hover .persantage,
  .tech_panel:focus .persantage {
    animation: scale-width 700ms var(--timing) forwards ;
    background: rgb(235, 232, 57);
  }

  @keyframes scaleX {
    from {width: 0}
    to {width: var(--width) }
  }

  @keyframes scale-width {
    from {width: 0}
    to {width: var(--width) }
  }
}


@media screen and (max-width: 500px) {

  .navbar {
    align-items: flex-end;
    padding: 3% 5%;
    height: 15%;

    .navbar_titles {
      height: 5.5vw;
      width: 15vw;
      border-radius: 1vw;
      padding: 2px;

      .titles {
        font-size: 2.2vw;
        height: 100%;
        min-width: 100%;
      }
    }  
  }

  .full_name {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    top: .5vw;
    left: 0;
    font-size: 9vw;
  }

  .container_information {

    .about {
      height: 13vh;
    }
    
    .about_extended {
      height: 65vh;
    }
    
    .about_description {
      font-size:.9em;
    }

    .technologies {
      grid-template-rows: repeat(9, 7vw);
      grid-column-gap: 2.3%;
      grid-row-gap: 5%;
      font-size: 3vw;

      .frontend_titles {
        font-size: 5vw;
      }
  
      .backend_titles {
        font-size: 5vw;
      }

      .tech_rows {
        .img_icons {
          height: 7vw;
          width: 7vw;
        }
      }
    }  
  }  
}

