
@media screen and (max-width: 500px) {
  .project_information {
    background-color: rgb(240 237 237);
    min-height: 80vh;
  }
  
  .project_information_night {
    background-color: rgba(32, 32, 32);
  }

  .project_name {
    top: 8vh;
    height: fit-content;
    width: fit-content;
    background-image: linear-gradient( 70deg , var(--first-gradient-color), 40%, var(--second-gradient-color) );
    transition: background-image var(--timing) ease-in-out ;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
    font-size: 4vh;
  }

  .links {
    bottom: 0;
    top: -74vh;
    right: none;
    left: 0;
    height: 5vh;
    width: 30vh;
    gap: 7vh;
  
    .link_deploy {
      height: 5vh;
      width: 5vh;
      object-fit: cover;
    }
  
    .links_github {
      transform: translateY(-.2vh);
      height: 6vh;
      width: fit-content;
    }
  }

  .links_github_cont::before ,
  .link_deploy_cont::before {
    content: "";
    display: flex;
    bottom: -1vh;
    left: -2vh;
    height: 2vh;
    width: 9vh;
    font-size: 1.2vh;
    backdrop-filter: blur(15px);
  }

  .link_deploy_cont::before { content: "link Deploy" }
  .links_github_cont::before { content: "link GitHub"; transform: translateY(-.5vh);}


  .container_slider {
    height: 8vh;
    top: 13vh;
    left: 1vw;
  
    .slider {
      height: 1vw;
      width: 5vw;
    }
  }
  
  .center_panel {
    --current-slider-num: 0;
    display: flex;
    gap: 5vw;
    align-items: center;
    padding: 0;
    padding-left: 2.5vw;
    top: 20vh;
    background: transparent;
    border-block-start: 2px solid;
    border-block-end: 2px solid;
    border-image-source: linear-gradient(90deg , var(--first-gradient-color), 50%, var(--second-gradient-color) );
    border-image-slice: 1;
    transition: border-image-source var(--timing) ease-in-out ;
    height: 40vw;
    width: 80vw;
    overflow: hidden;
  }

  .button_translate_mobile {
    display: block;
    position: absolute; 
    top: 25%;
    background: transparent;
    z-index: 100;
    height: 16vw;
    width: 7vw;
    font-size: 13vw;
    border: none;
    color: #ccc;
    text-shadow: 1px 1px 5px #000;
  }

  .btn_left {
    left: 0;
  }

  .btn_right {
    right: 0;
  }

  .front_panel {
    display: none;
  }

  .single_image {
    --translate: -0vw;
    position: static;
    height: 35vw;
    min-width: 75vw;
    transition: transform 300ms ease;
    transform: translateX(var(--translate));
    background: #ccc;
  
    .image {
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      transform: translateZ(0px);
    }

    .image:focus {
      scale: 1.1;
    }
  }

  .activated {
    .single_image {
      animation: none;
    }
  }

  .close_icon {
    font-size: 15vw;
    top: 3vw;
    right: -3.2vw;
    color: #333;
  }

  .description_main_container {
    position: absolute;
    align-self: flex-end;
    padding: 5%;
    display: flex;
    align-items: center;
    gap: 2vh;
    flex-direction: column;
    top: 43vh;
    height: fit-content;
    width: 100%;
    overflow-y: auto;
    left: 0;
  }

  .description_main_container::-webkit-scrollbar {
    width: 7px;
  }

  .description_container {
    position: static;
    width: 75vw;
    height: 5vh;
    border-radius: 5px;
    padding: 5vh 0 0 0;
  }

  
  .left_desc {
    left: 0;
  }
  
  .right_desc {
    right: 0;
  }
  .project_activated {
    height: 40vh;
  }

  .message {
    height: 5vh;
    width: 75vw;
  }

  .message_top {
    font-size: 4vw;
  }

  .single_tech{
    height: 2.8vh;
    padding: 5px 15px;
    margin: 0;
    font-size: 2.5vw;
  }

  .description_text {
    padding: 1vh 2vh;
  }
  
  .description_text::-webkit-scrollbar {
    width: 4px;
  }

  .ul_class {
    .description {
      font-size: .8em;
      font-weight: 500;
    }
  }
}
