
.main_container_project_detail {
  --opacity: 0;
  --visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: #ccc2;
  backdrop-filter: blur(7px);
  opacity: var(--opacity);
  visibility: var(--visibility);
  transition: 
    opacity 200ms ease-in-out, 
    visibility 200ms ease-in-out;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1% 5%;
}

.project_information {
  --translateX: 120%;
  --translateY: 120%;
  --perspective-up: 25%;
  height: 100%;
  margin: auto;
  width: 100%;
  padding: 0 5% 5% 5%;
  background-color: var(--right-panel);

  display: flex;
  flex-direction: column;
  border-radius: 1vw;
  overflow-y: scroll;
  gap: calc(var(--unit) * 3);
  align-items: center;
  overscroll-behavior: contain;
  transform: translateX(120%) translateY(-120%);
  transition: 
    transform 500ms ease-in-out  200ms;
} 

.project_information::-webkit-scrollbar {
  width: 20px;
  margin-right: .5em;
}

.project_information::-webkit-scrollbar-track {
  margin-block: 1.5em;
  background: var(--right-panel);
}

.project_information::-webkit-scrollbar-thumb {
  background: linear-gradient(var(--first-gradient-color), 40%, var(--second-gradient-color));
  border-right: 16px solid var(--right-panel);
}

.main_container_video_carousel {
  display: flex;
  position: relative;
  flex: none;
  height: 62%;
  width: 100%;
  perspective: 950px;
  transition: perspective-origin ease 700ms;
  perspective-origin: 50% var(--perspective-up);
  
  overflow: hidden;
}

.main_container_video_carousel::before,
.main_container_video_carousel::after {
  position: absolute;
  content: "";
  top: 0;
  height: 100%;
  width: 2px;
  background: linear-gradient(var(--first-gradient-color), var(--second-gradient-color));
}

.main_container_video_carousel::before {
  left: 0;
}

.main_container_video_carousel::after {
  right: 0;
}

.container_detail_carousel {
  transform: translateY(var(--translate-gallery));
  transition: transform 700ms var(--right-panel-translate);

  flex: none;
  height: 100%;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
}

.container_video_detail {
  transform: translateX(var(--translate-gallery));
  transition: transform 700ms var(--right-panel-translate);
  
  display: flex;
  align-items: center;
  justify-content:center;
  flex: none;
  height: 100%;
  width: 100%;
}

.video_detail {
  height: 90%;
  width: min-content;
}

.detail_project_container_description {
  height: 20vh;
  width: 100%;

  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  gap: calc(var(--unit) * 2);
}

.gallery_project_detail,
.video_project_detail {
  height: 80%;
  width: 18%;
  padding: .7%;
  position: relative;
}

.gallery_main_picture {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.player_btn {
  position: absolute;
  --player-height: 50%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: var(--player-height);
  width: calc(var(--player-height) / 2);
  background: #0007;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.player_btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  clip-path: polygon(20% 0%, 100% 50%, 20% 100%);
  background: #ccc;
  height: 50%;
  width: 50%;
}

.select::before,
.select::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  margin: auto;
  height: 0;
  width: 2px;
  background: linear-gradient(var(--first-gradient-color), var(--second-gradient-color));
  animation: selected 200ms ease-in-out forwards;
}

@keyframes selected {
  to {height: 100%}
}

.select::before {
  left: 0;
}

.select::after {
  right: 0;
}

.show .project_information {
  animation: show-project-detail ease-in-out 800ms forwards ;
}

@keyframes show-project-detail {
  to {
    transform: 
      translateX(0%) 
      translateY(0%);
  }
}

.project_name {
  align-items: center;
  justify-content: center;
  top: 2vh;
  transform: translateZ(10vw);
  font-size: 3vw;
  background: linear-gradient(var(--first-gradient-color), var(--second-gradient-color));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 7px 7px 5px #0003;
}

.links {
  position: absolute;
  top: 5%;
  left: 5%;
  height: 4vw;
  width: 15vw;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--unit) * 3);


  .link_deploy {
    position: relative;
    height: 3.5vw;
    width: 3.5vw;
    object-fit: cover;
    border-radius: 50%;
  }

  .links_github {
    height: 4.4vw;
    width: fit-content;
  }
}

.links_github_cont {
  position: relative;
}

.link_deploy_cont {
  position: relative;
}

.links_github_cont::before ,
.link_deploy_cont::before {
  content: "";
  display: none;
  position: absolute;
  bottom: -3vw;
  z-index: 100;
  left: -3vw;
  right: 0;
  margin: auto;
  height: 2.5vw;
  width: 10vw;
  align-items: center;
  justify-content: center;
  font-size: 1.3vw;
  border-radius: 5px;
}

.link_deploy_cont::before { content: "link Aplication"}
.links_github_cont::before { content: "Code GitHub"; transform: translateY(-1vh)}

.links_github_cont:hover::before {
  display: flex;
}

.link_deploy_cont:hover::before {
  display: flex;
}

.container_slider {
  display: flex;
  align-self: flex-start;
  align-items: center;
  height: 1vw;
  padding: 0 5px;
  gap: var(--unit);
  background: transparent;

  transform: translateX(calc(var(--translate-gallery) * 2));
  transition: transform 700ms var(--right-panel-translate);

  .slider {
    height: .3vw;
    width: 4vw;
    background: #ccc;
    border-radius: .3vw;
  }

  .slider_Activated {
    background-image: linear-gradient(90deg , var(--first-gradient-color), 50%, var(--second-gradient-color) );
    transition: background-image var(--timing) ease-in-out;
  }
}

.center_panel {
  --rotate: 0deg;
  --top: 15%;
  --height-panel: 11vw;
  --translate-front: 18vw;

  position: absolute;
  top: var(--top);
  left: 0;
  right: 0;
  margin: auto;
  transform-style: preserve-3d;
  height: var(--height-panel);
  width: 1px;
  
  transform: translateZ(var(--translate-front)) rotateY(var(--rotate));
  transition: transform ease 500ms, top ease 700ms;
  animation: rotate-carucel 30s linear infinite;
}

.closer_view > .center_panel {
  transform: translateX(0vw) translateZ(22vw) rotateY(var(--rotate));
}

.front_panel {
  --rotate-panel: 0deg;  
  --translate-panel: 22vw;
  --current-slider-num: 0;

  position: absolute;
  top: 0;
  left: -16vw;
  height: 9vw;
  width: 32vw;
  background: transparent;
  transform: rotateY(var(--rotate-panel)) translateZ(var(--translate-panel)) ;
  transition: transform ease 500ms;

  .left {
    right: 4.5vw;
  }

  .right {
    left: 4.5vw;
  }
}

.arrows {
  position: absolute;
  z-index: 100;
  top: 25%;
  font-size: 4vw;
  text-shadow: 2px 2px 2px black;
  color: #fff;
  background: transparent;
  cursor: pointer;
  transition: transform ease 100ms, text-shadow ease 300ms;
}

.arrows:hover {
  transform: scale(1.1);
  text-shadow: 3px 3px 3px black;
}

.single_image {
  --translate: 21vw;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: calc(var(--height-panel) + calc(var(--height-panel) / 1.3));
  object-fit: cover;
  transition: transform 300ms ease;
  transform: translateX(-50%);
  min-width: 9vw;
  background: #0007;
  padding: 0;
  transform-style: preserve-3d;

  display: flex; 
  justify-content: center;
  

  .image {
    // display: none;
    height: 100%;
    width: 100%;
    transform: translateZ(0.4px);
    object-fit: cover;
  }
}


.activated {
  .single_image {
    animation: image 500ms ease-in-out forwards calc(var(--delay) + 700ms);
  }

  .arrows {
    display: block;
  }
}


@keyframes image {
  0% {
    transform: 
      translateX(-50%)
      rotateY(0deg) 
      translateZ(0px)
  }
  100% {
    transform: 
      translateX(-50%)
      rotateY(var(--angle)) 
      translateZ(var(--translate))
  }
}



$amount: 6;

@for $i from 0 to $amount {
  .center_panel > :nth-child(#{$i + 1}) {
    --angle: #{360 / 6 * $i}deg;
    --delay: #{200ms * $i};
  }
}

.project_activated {
  height: 32vw;
}

.gap {
  gap: 0;
}

.close_icon {
  --rotate-close-icon: 0deg;
  position: fixed;
  font-size: 100px;
  padding: 0;
  height: 0;
  width: 2.5vw;
  margin: 0;
  top: 3vw;
  right: -1.2vw;
  transform: rotate(90deg) rotateY(var(--rotate-close-icon)) ;
  transition: 
    transform ease 200ms;
  color: var(--titles);
  cursor: pointer;
}

.close_icon:hover{
  color: #ccc7;
}

.button_translate_mobile {
  display: none;
}



@import "PhoneStyle.scss";