.App {
  margin: 0;
  padding: 5vw 0 0 0;
}

.Idiom_Button {
  position: fixed;
  top: 5vw;
  right: 1vw;
}

.block {
  visibility: hidden;
  opacity: 0;
  transition: cubic-bezier(0.215, 0.610, 0.355, 1) 1s;
}

