@import url('https://fonts.googleapis.com/css2?family=Inter&family=Tangerine:wght@700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  --main-background: #000;
  --body-background: #fff;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  color: var(--main-background);
  background: var(--body-background)
}

@media screen and (max-width: 500px) {
  *, *::before, *::after {
    box-sizing: border-box;
  }
  
  body {
    --main-background: #000;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
    color: var(--main-background);
  }

  body::-webkit-scrollbar {
    width: 0px;
  }
}